<!-- Publications Section -->
<section id="people" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>MFF UK Team</h2>
            <h3>Leaders</h3>
            <p>WK Hardle</p>
            <p>M.Kopa</p>

            <h3>Team Members</h3>
            <p>Tomáš Cipra</br>
            Radek Hendrych</br>
            Zdeněk Hlávka</br>
            Martin Branda</br>
            Jan Večeř</br>
            Tomáš Rusý</p>

            <h2>UTIA AV CR Team</h2>
            <h3>Leaders</h3>
            <p>J.Barunik</p>

            <h3>Team Members</h3>
            <p>Lukas Vacha</br>
                Martin Hronec</br>
                Lubos Hanus</br>
                Frantisek Cech</br>
                Josef Kurka</br>

        </div>
    </div>
</section>
