<!-- Publications Section -->
<section id="people" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">

            <h2>Leaders</h2>

            <p><img src="{{ site.baseurl }}/img/haerdle.jpg" style="width:150px"></br>
            Wolfgang Karl Härdle</br>
            <a href="http://www.quantlet.de" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/barunik.jpg" style="width:150px"></br>
            Jozef Baruník</br>
            <a href="https://barunik.github.io" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/kopa.jpg" style="width:150px"></br>
            Miloš Kopa</br>
            <a href="http://www.karlin.mff.cuni.cz/~kopa/" target="blank">web page</a></p>

            <h3>MFF UK Team Members</h3>

            <p><img src="{{ site.baseurl }}/img/branda.jpg" style="width:150px"></br>
            Martin Branda</br>
            <a href="http://artax.karlin.mff.cuni.cz/~branm1am/indexEN.html" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/cipra.jpg" style="width:150px"></br>
            Tomáš Cipra</br>
            <a href="http://www.karlin.mff.cuni.cz/~cipra/" target="blank">web page</a></p>

            <p>Radek Hendrych</br>
            <a href="http://www.karlin.mff.cuni.cz/~hendrych/" target="blank">web page</a></p>

            <p>Zdeněk Hlávka</br>
            <a href="http://www.karlin.mff.cuni.cz/~hlavka/" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/kozmik.jpg" style="width:150px"></br>
            Karel Kozmík</br>
            <a href="http://karlin.mff.cuni.cz/~kozmikk/  " target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/praskova.jpg" style="width:150px"></br>
            Zuzana Prášková</br>
            <a href="http://www.karlin.mff.cuni.cz/~praskova/" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/rusy.jpg" style="width:150px"></br>
            Tomáš Rusý</br>
            <a href="http://karlin.mff.cuni.cz/~rusy/" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/vecer.jpg" style="width:150px"></br>
            Jan Večeř</br>
            <a href="http://www.karlin.mff.cuni.cz/~vecer/ " target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/vitali.jpg" style="width:150px"></br>
            Sebastiano Vitali</br>
            <a href="http://www.karlin.mff.cuni.cz/~vitali/" target="blank">web page</a></p>


            <h3>UTIA AV CR Team Members</h3>

            <p><img src="{{ site.baseurl }}/img/barunik.jpg" style="width:150px"></br>
            Jozef Baruník</br>
            <a href="https://barunik.github.io" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/cech.jpg" style="width:150px"></br>
            František Čech</br>
            <a href="http://ies.fsv.cuni.cz/en/staff/fcech" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/hanus.png" style="width:150px"></br>
            Luboš Hanus</br>
            <a href="http://ies.fsv.cuni.cz/en/staff/hanusl" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/hronec.jpg" style="width:150px"></br>
            Martin Hronec</br>
            <a href="http://ies.fsv.cuni.cz/en/staff/hronec" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/kurka.jpg" style="width:150px"></br>
            Josef Kurka</br>
            <a href="http://ies.fsv.cuni.cz/en/staff/kurka" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/nevrla.jpg" style="width:150px"></br>
            Matěj Nevrla</br>
            <a href="http://ies.fsv.cuni.cz/en/staff/nevrla" target="blank">web page</a></p>

            <p><img src="{{ site.baseurl }}/img/vacha.jpg" style="width:150px"></br>
            Lukáš Vácha</br>
            <a href="https://www.utia.cas.cz/people/vacha" target="blank">web page</a></p>


        </div>
    </div>
</section>
