<!-- Publications Section -->
<section id="publications" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>2020</h2>
            <p>Barunik, J. and Krehlik. T (2018): <a href="https://doi.org/10.1093/jjfinec/nby001" target="blank">
                Measuring the Frequency Dynamics of Financial Connectedness and Systemic Risk</a>
                Journal of Financial Econometrics, 16 (2), pp. 271–296</p>

                <p>Barunik, J. and Krehlik. T (2018): <a href="https://doi.org/10.1093/jjfinec/nby001" target="blank">
                    Measuring the Frequency Dynamics of Financial Connectedness and Systemic Risk</a>
                    Journal of Financial Econometrics, 16 (2), pp. 271–296</p>

            <h2>2019</h2>
            <p>Barunik, J. and Krehlik. T (2018): <a href="https://doi.org/10.1093/jjfinec/nby001" target="blank">
                Measuring the Frequency Dynamics of Financial Connectedness and Systemic Risk</a>
                Journal of Financial Econometrics, 16 (2), pp. 271–296</p>

                <p>Barunik, J. and Krehlik. T (2018): <a href="https://doi.org/10.1093/jjfinec/nby001" target="blank">
                    Measuring the Frequency Dynamics of Financial Connectedness and Systemic Risk</a>
                    Journal of Financial Econometrics, 16 (2), pp. 271–296</p>
        </div>
    </div>
</section>
